<h1 class="create">Add new image</h1>
<form method="POST" action="/folder/{{slug}}">
	<div class="add">
		<input class="add-box" type="url" id="url" name="url" value="" placeholder="Image url">
		<textarea class="add-caption" type="text" id="caption" name="caption" value="" placeholder="Caption (optional)"></textarea>
		<input class="add-folder" type="submit" value="Add">
	</div>
</form>