<h1 class="create">Create new folder</h1>
<form method="POST" action="../add">
	<div class="add">
		<input class="add-box" type="text" id="title" name="title" value="" placeholder="Title">
		<textarea class="add-caption" type="text" id="caption" name="description" value="" placeholder="Description (optional)"></textarea>
		<input type="submit" value="Create">
	</div>
</form>