<h1 class="create">{{slug}} - Edit title</h1>
<form method="POST" action="/folder/{{slug}}/edit-title">
	<div class="add">
		<input class="add-box" type="text" id="title" name="newTitle" value="" placeholder="New Title">
		<input type="submit" value="Confirm">
	</div>
</form>