<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
</head>

<body>
	<div id="outer">
		<header>
			<nav>
				<span class="home-link"><a href="/">Home</a></span>
                <span class="add-button">
					<a href="/add">Create new folder</a>
				</span>
			</nav>
		</header>

		<h1>Your Images</h1>
		<div class="content">
			A site for categorizing your images!
			{{{ body }}}
		</div>
	</div>
</body>
</html>
