<h1 class="main-title">Photo Folder</h2>
<p class="blurb">A site for categorizing your images!</p>

<a href="/login"><h2 class="login">Login</h2></a>
<a href="/register"><h2 class="register">Register</h2></a>