.home-link {
	position: absolute;
	top: 0.25em;
	left: 0.75em;
}

.add-button {
	position: absolute;
	top: 0.25em;
	left: 4em;
}

header {
	position: relative;
	background-color: #ccddff;
	margin: 0px;
	height: 1.5em;
	padding: 0.25em 1em 0em 1em;
}

h1 {
    font-size: 100;
  }